@font-face {
    font-family: open-san;
    src: url(./Fonts/Poppins-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"open-san";
}

body{
    padding-top: 60px;
}



